.container{
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 100px;
  height: 200px;
  width:  300PX;
  justify-content: center;
  align-self: center;
}

.button{
  align-self: center;
  margin: 10px;
  width: 70%;
  height: 40px;

}
