.buttonFacturar{
  width: 30%;
}

.container{
  text-align-last: center;
}

.detalle{
  width: 80%;
  margin:10px auto;
}

.title{
  text-align: center;
}

.firstDivider{
  margin-bottom: 10px;
}

ul{
  text-decoration:none;
  list-style-type:none;
  display:flex;
}

li{
  margin: 0 auto;
  padding-right: 5%;
}
.tableHeader{
  margin: 0 auto;
  padding-left: 5%;
  font-weight: bold;
}

.headerLi{
  padding-left: 5%
}

.data{
  padding: 0;
}



.client, .headers{
  margin-top: 5px;
}


