.buttonMisLiquidaciones{
    width: 30%;
  }
  
  .container{
    text-align-last: center;
  }
  
  .detalle{
    width: 80%;
    margin:10px auto;
  }
  
  .title{
    text-align: center;
    padding-left: 0%;
  }
  
  .firstDivider{
    margin-bottom: 10px;
  }
  
  ul{
    text-decoration:none;
    list-style-type:none;
    display:flex;
  }
  
  li{
    margin: 0 auto;
    padding-right: 5%;
    align-self: flex-start;
  }
  .tableHeader{
    margin: 0 auto;
    padding-left: 0%;
    font-weight: bold;
  }
  
  .headerLi{
    padding-left: 5%
  }
  
  .data{
    padding: 0;
  }
  
  
  
  .client, .headers{
    margin-top: 5px;
  }
  