<div class="example-container">
  <mat-form-field>
      <input matInput [(ngModel)]="cuit" placeholder="CUIT/CUIL"  required>
  </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="dni" placeholder="DNI"  required>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="cbu" placeholder="CBU"  required>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="Nombre y Apellido"  required>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="adress" placeholder="Direccion"  required>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="puesto" placeholder="Puesto"  required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Fecha de Ingreso">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Tipo de liquidacion</mat-label>
      <select matNativeControl matInput [(ngModel)]="billing" required>
        <option value="diaria">Diaria</option>
        <option value="semanal">Semanal</option>
        <option value="quincenal">Quincenal</option>
        <option value="mensual">Mensual</option>
      </select>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Tipo de contratacion</mat-label>
      <select matNativeControl matInput [(ngModel)]="payroll" required>
        <option value="hourly">Por Hora</option>
        <option value="fijo">Relacion de dependencia</option>
      </select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="salary" placeholder="Monto"  required>
    </mat-form-field>
    <mat-form-field >
        <input matInput [(ngModel)]="antiguedad" placeholder="Monto Por Antiguedad (%)">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Tipo de concepto</mat-label>
      <select matNativeControl matInput [(ngModel)]="antiguedadtipo" required>
        <option value="deduccion">Deduccion</option>
        <option value="bonificacion">Bonificacion</option>
      </select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="presentismo" placeholder="Monto Por Presentismo (%)">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Tipo de concepto</mat-label>
      <select matNativeControl matInput [(ngModel)]="presentismotipo" required>
        <option value="deduccion">Deduccion</option>
        <option value="bonificacion">Bonificacion</option>
      </select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="jubilacion" placeholder="Monto Por Jubilacion (%)">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Tipo de concepto</mat-label>
      <select matNativeControl matInput [(ngModel)]="jubilaciontipo" required>
        <option value="deduccion">Deduccion</option>
        <option value="bonificacion">Bonificacion</option>
      </select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="os" placeholder="Monto Por Obra Social (%)">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Tipo de concepto</mat-label>
      <select matNativeControl matInput [(ngModel)]="ostipo" required>
        <option value="deduccion">Deduccion</option>
        <option value="bonificacion">Bonificacion</option>
      </select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="pami" placeholder="Monto Por PAMI (%)">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Tipo de concepto</mat-label>
      <select matNativeControl matInput [(ngModel)]="pamitipo" required>
        <option value="deduccion">Deduccion</option>
        <option value="bonificacion">Bonificacion</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="diasContratados" placeholder="Dias de trabajo por contrato dentro del periodo de liquidacion seleccionado"  required>
  </mat-form-field>


</div>
<div>
    <button mat-flat-button color="warn" class="buttonCrearEventoPost" (click)="createEmployee();openDialog()">Crear Empleado</button>
</div>
